img{
      width: 118px;
      height: 130px;
}
h2{
    font-weight: 500;
}
body{
    margin: 60px 430px;
    font-family: 'Segoe UI', Tahoma, sans-serif;

}
ul{
    font-weight: 300;
    font-size: 15px;
}
p{
    font-weight: 300;

}
#light{
    font-weight: 300;
    font-size: 13px;
}